# this is an example of the Sync Gateway API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Sync Gateway
  description: Documentation for the Sync Gateway REST API
  version: "1.2.1"
# the domain of the service
host: syncgateway.couchbasemobile.com
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v1.2.1
produces:
  - application/json
################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  db:
    name: db
    in: path
    description: Database name
    type: string
    required: true
  ddoc:
    name: ddoc
    in: path
    description: Design document name
    type: string
    required: true
  view:
    name: view
    in: path
    description: View name
    type: string
    required: true
################################################################################
#                                   Paths                                      #
################################################################################
paths:
  /{db}/_design/{ddoc}:
    parameters:
      - $ref: '#/parameters/db'
      - $ref: '#/parameters/ddoc'
    get:
      summary: Get Views of a design document
      description: |
        Query a design document.
      responses:
        200:
          description: Views for design document
          schema:
            type: object
            properties:
              my_view_name:
                $ref: '#/definitions/View'
    put:
      summary: Update views of a design document
      parameters:
        - in: body
          name: body
          description: Pet object that needs to be added to the store
          required: false
          schema:
            $ref: "#/definitions/View"
      responses:
        201:
          description: Successful operation
          schema:
            $ref: '#/definitions/Success'
    delete:
      summary: Delete design document
      description: |
        Delete a design document.
      responses:
        200:
          description: The status
          schema:
            type: object
            items:
              $ref: '#/definitions/Design'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /{db}/_design/{ddoc}/_view/{view}:
    parameters:
      - $ref: '#/parameters/db'
      - $ref: '#/parameters/ddoc'
      - $ref: '#/parameters/view'
    get:
      summary: Query a view
      description: |
        Query the view on a the design document ddoc
      parameters:
        - in: query
          name: conflicts
          description: Include conflict information in the response. This parameter is ignored if the include_docs parameter is false.
          type: boolean
        - in: query
          name: descending
          description: Return documents in descending order.
          type: boolean
        - in: query
          name: endkey
          description: If this parameter is provided, stop returning records when the specified key is reached.
          type: string
        - in: query
          name: end_key
          description: Alias for the endkey parameter.
          type: string
        - in: query
          name: endkey_docid
          description: 	If this parameter is provided, stop returning records when the specified document identifier is reached.
          type: string
        - in: query
          name: end_key_doc_id
          description: Alias for the endkey_docid parameter.
          type: string
        - in: query
          name: include_docs
          description: Indicates whether to include the full content of the documents in the response.
          type: boolean
        - in: query
          name: inclusive_end
          description: Indicates whether the specified end key should be included in the result.
          type: boolean
        - in: query
          name: key
          description: If this parameter is provided, return only document that match the specified key.
          type: string
        - in: query
          name: limit
          description: If this parameter is provided, return only the specified number of documents.
          type: integer
        - in: query
          name: skip
          description: If this parameter is provided, skip the specified number of documents before starting to return results.
          type: integer
        - in: query
          name: stale
          description: Allow the results from a stale view to be used, without triggering a rebuild of all views within the encompassing design document. Valid values are ok and update_after.
          type: string
        - in: query
          name: startkey
          description: If this parameter is provided, return documents starting with the specified key.
          type: string
        - in: query
          name: start_key
          description: Alias for startkey param.
          type: string
        - in: query
          name: startkey_docid
          description: If this parameter is provided, return documents starting with the specified document identifier.
          type: string
        - in: query
          name: update_seq
          description: Indicates whether to include the update_seq property in the response.
          type: boolean
      responses:
        200:
          description: Query results
          schema:
            type: object
            properties:
              offset:
                type: string
                description: Starting index of the returned rows.
              row:
                type: array
                items:
                  $ref: '#/definitions/QueryRow'
              total_rows:
                type: integer
                description: Number of documents in the database. This number is not the number of rows returned.
################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  Success:
    type: object
    properties:
      id:
        type: string
        description: Design document identifier
      rev:
        type: string
        description: Revision identifier
      ok:
        type: boolean
        description: Indicates whether the operation was successful
  View:
    type: object
    properties:
      map:
        type: string
        description: Inline JavaScript definition for the map function
      reduce:
        type: string
        description: Inline JavaScript definition for the reduce function
  QueryRow:
    type: object
    properties:
      id: 
        type: string
        description: The ID of the document
      key:
        type: object
        description: The key in the output row
      value:
        type: object
        description: The value in the output row
  Design:
    type: object
    properties:
      offset:
        type: integer
        format: int32
        description: Position in pagination.
      limit:
        type: integer
        format: int32
        description: Number of items to retrieve (100 max).
      count:
        type: integer
        format: int32
        description: Total number of items available.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string